<%- include('../../layout/header2') %>
<div class="wrapper">   
<%- include('../../layout/sidebar') %>


<style type="text/css">
    .dot {
      height: 25px;
      width: 25px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }

    .wh-50{
        width: 50px !important;
        height: 50px !important;
    }

    .dot-15 {
      height: 15px;
      width: 15px;
    }

    .bg-muted-success{
        background: #f7f7f7;
    }

    #cinet-nav-tabs.nav-tabs .nav-link {
        color: #555;
    }

    #cinet-nav-tabs.nav-tabs .nav-link.active{
        color: #228e3b;
    }

    #horizontal-nav-tabs.nav-tabs{
        border: none;
    }

    #horizontal-nav-tabs.nav-tabs .nav-item{
        min-width: 100px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    #horizontal-nav-tabs.nav-tabs .nav-link {
        margin-bottom: -1px;
        background: none;
        border: none;
        border-bottom: 2px solid transparent;
        border-top-left-radius: none;
        border-top-right-radius: none;
        font-weight: bold;
        color: #a9aeb5;
    }

    #horizontal-nav-tabs.nav-tabs .nav-link.active{
        border-bottom: 2px solid #228e3b;
        color: #228e3b;
    }

</style>


<div id="v-app" class="main">
<%- include('../../layout/navbar') %>


<main id="v-app" class="content p-0">

<div v-if="operator" class="border-top position-relative">
    <div class="bg-white">
        <div class="d-flex align-items-center justify-content-between p-3 ps-5 pe-5">
            <div class="d-flex">
                <div class="me-2">
                    <img class="rounded border" src="/img/operators-logos/MTNCI.svg" style="width: 50px">
                </div>
                <div>
                    <div class="h3 fw-bold text-dark">
                        {{ operator.name }}
                    </div>
                    <div class="small">
                        <span class="fw-bold text-success">Alias:</span> <span>{{ operator.alias }}</span>
                        &nbsp; &nbsp;
                        <span class="fw-bolder text-success">Pays:</span> <span>{{ operator.country.name }}</span>   

                        &nbsp; &nbsp;
                        <span class="fw-bolder text-success">Devise:</span> <span>{{ operator.country.currency.name }}</span>              
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="me-5">
                    <div class="text-end">
                        <div class="fw-bold text-muted">SERVICES</div>
                        <div class="text-dark">0</div>
                    </div>
                </div>
                <div>
                    <div class="text-end">
                        <div class="fw-bold text-muted">RESSOURCES</div>
                        <div class="text-dark">{{ getCountResources }}</div>
                    </div>
                </div>
                <div class="ms-2 ps-1 me-4 border-start">
                    <div class="pt-1">
                        <div class="row small">
                            <div class="col-6">
                                <span class="fw-bold text-success">API</span>
                            </div>
                            <div class="col-6">
                                <span>{{ getCountApi }}</span>
                            </div>
                        </div>
                        <div class="row small">
                            <div class="col-6">
                                <span class="fw-bold text-success">SIMS</span>
                            </div>
                            <div class="col-6">
                                <span>{{ getCountSim }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-5 pe-5">
            <ul id="cinet-nav-tabs" class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" v-bind:class="{active: tabs.dashboard.active}" v-on:click="changeTab(tabs.dashboard)" href="#">
                    <i class="align-middle" data-feather="monitor"></i>
                    Tableau de bord
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" v-bind:class="{active: tabs.resources.active}" v-on:click="changeTab(tabs.resources)" href="#">
                    <i class="align-middle" data-feather="hard-drive"></i>
                    Ressources
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" v-bind:class="{active: tabs.services.active}" v-on:click="changeTab(tabs.services)" href="#">
                    <i class="align-middle" data-feather="server"></i>
                    Services
                </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" v-bind:class="{active: tabs.settings.active}" v-on:click="changeTab(tabs.settings)" href="#">
                        <i class="align-middle" data-feather="settings"></i>
                        Paramètres
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="mb-5">
        
        <div v-if="tabs.resources.active" class="container ps-4 pt-1 pe-4">

            <div class="mb-3">
                <ul id="horizontal-nav-tabs" class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link" v-bind:class="{active: tabs.resources.tabs.home.active}" v-on:click="changeResourcesTab(tabs.resources.tabs.home)" href="#">
                        TOUTES
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" v-bind:class="{active: tabs.resources.tabs.api.active}" v-on:click="changeResourcesTab(tabs.resources.tabs.api)" href="#">
                        API
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" v-bind:class="{active: tabs.resources.tabs.sim.active}" v-on:click="changeResourcesTab(tabs.resources.tabs.sim)" href="#">
                        SIMS
                    </a>
                  </li>
                </ul>
            </div>
            
            <div id="allResources">
                
                <div v-if="tabs.resources.tabs.home.active">
                    <div v-if="getCountResources == 0">
                        <div class="text-center mt-5">
                            <div class="h3 fw-light text-muted">
                                <div>
                                    <i class="align-middle" data-feather="hard-drive" style="width: 50px; height: 50px"></i>
                                </div>
                                <div class="m-4">
                                    Aucune ressource disponible
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="row shadow border bg-white">
                            <div class="col-sm-12 p-0">
                                <div class="table-responsive ">
                                    <table class="table table-striped table-hover my-0">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Nom</th>
                                                <th>Type</th>
                                                <th>Solde courant</th>
                                                <th>Solde de départ</th> 
                                                <th class="text-center">Taux</th>                                          
                                                <th>Statut</th>
                                                <th>Actif</th>
                                                <th class="text-end">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(resource, index) in allResources">
                                                <td>{{ index + 1 }}</td>
                                                <td class="text-success fw-bolder">{{ resource.name }}</td>
                                                <td>
                                                    <span class="badge bg-success">{{ resource.type }}</span>
                                                </td>
                                                <td class="fw-bold">
                                                    {{ resource.balance }} {{ resource.country.currency.name }}
                                                </td>
                                                <td>
                                                    {{ resource.startLastBalance }} {{ resource.country.currency.name }}
                                                </td>
                                                <td class="fw-bolder text-success text-center">
                                                    {{ parseBalanceToPercent(resource) }} %
                                                </td>
                                                <td>
                                                    <span v-if="resource.pending" class="badge bg-success">PENDING</span>
                                                    <span v-else class="badge bg-secondary">NO PENDING</span>
                                                </td>
                                                <td>
                                                    <span v-if="resource.active" class="text-success">
                                                        <i class="fa fa-circle"></i> Actif
                                                    </span>
                                                    <span v-else class="text-danger">
                                                        <i class="fa fa-circle"></i> Inactif
                                                    </span>
                                                </td>
                                                <td class="text-end">
                                                    <button v-on:click="showResource(resource)" class="btn btn-sm btn-success">Gérer</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="tabs.resources.tabs.api.active">
                    <div v-if="!resources.api" class="text-center mt-5">
                        <div class="h3 fw-light text-muted">
                            <div>
                                <i class="fa fa-key" data-feather="hard-drive" style="width: 50px; height: 50px"></i>
                            </div>
                            <div class="m-4">
                                Aucune API pour l'instant
                            </div>
                        </div>
                        <div>
                            <button v-on:click="openCreateApiModal" class="btn btn-success">Créer une API</button>
                        </div>
                    </div>
                    <div v-else>
                        <div class="row shadow border bg-white">
                            <div class="col-sm-12 col-md-8 p-4">   
                                <div>   
                                    <div>
                                        <h3 class="fw-bolder"> <i class="align-middle pb-1" data-feather="info"></i>  Information général</h3>
                                    </div>
                                </div>
                                <div class="mt-3">   
                                    <form v-on:submit.prevent="updateApi">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="col-form-label">Nom</label>
                                                    <input v-model="resources.api.name" type="text" class="form-control" name="name">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="col-form-label">Type</label>
                                                    <input type="text" class="form-control" value="API" name="type" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="col-form-label">Email</label>
                                                    <input v-model="resources.api.email" type="email" class="form-control" name="email">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="col-form-label">Mot de passe</label>
                                                    <input type="text" v-model="resources.api.password" class="form-control" name="password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="col-form-label">Access Token</label>
                                                    <input v-model="resources.api.accessToken" type="text" class="form-control" name="accessToken">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="col-form-label">Token</label>
                                                    <input type="text" v-model="resources.api.token" class="form-control" name="token">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-3 justify-content-between align-items-center">
                                            <button type="submit" class="btn btn-success">Mettre à jour</button>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="active" name="active" v-model="resources.api.active">
                                                <label class="form-check-label" for="active">Actif</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="border-start col-sm-12 col-md-4 p-0">   
                                <div class="d-flex border-bottom ps-4 pt-4 pe-4 pb-2 justify-content-between align-items-center">
                                    <div class="h3 fw-bolder">Etat</div>
                                    <div>   
                                        <div v-show="resources.api.active">
                                            <i class="fa fa-circle text-success"></i> Actif           
                                        </div>

                                        <div v-show="!resources.api.active">
                                            <i class="fa fa-circle"></i> Actif                     
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="ps-4 pt-3 pe-4 d-flex align-items-center justify-content-between">
                                        <div class="h4 fw-bolder">Solde</div>
                                        <div>
                                            <button v-on:click="updateResourceBalance(resources.api)" class="btn btn-success btn-light border btn-sm">Recharger</button>
                                        </div>
                                    </div>
                                    <div class="mt-3 ps-4 pe-4">
                                        <div>Solde de départ</div>
                                        <div class="h3 fw-bolder mt-1">
                                            <span class="text-success">{{ resources.api.startLastBalance }}</span> {{ resources.api.country.currency.name }}
                                        </div>
                                        <hr>
                                        <div>Solde courant</div>
                                        <div class="h3 fw-bolder mt-1">
                                            {{ resources.api.balance }} {{ resources.api.country.currency.name }}
                                        </div>
                                        <hr>
                                        <div class="h4 fw-bolder mt-1">
                                            <div>
                                                Taux: {{ getApiBalancePercent }}%                  
                                            </div>
                                            <div class="mt-2">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-animated  bg-success" v-bind:style="{ width: getApiBalancePercent + '%' }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mt-3 mb-3 ps-4 pe-4">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bolder">
                                                Zone dangereuse
                                            </div>
                                            <div>
                                                <button v-on:click="deleteResource(resources.api,null)" class="btn btn-danger btn-sm">Retirer la ressource</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div v-show="tabs.resources.tabs.sim.active">
                    <div v-if="!resources.sims" class="text-center mt-5">
                        <div class="h3 fw-light text-muted">
                            <div>
                                <i class="fa fa-sim-card" data-feather="hard-drive" style="width: 50px; height: 50px"></i>
                            </div>
                            <div class="m-4">
                                Aucune SIM pour l'instant
                            </div>
                        </div>
                        <div>
                            <button v-on:click="createSim" class="btn btn-success">Ajouter une SIM</button>
                        </div>
                    </div>
                    <div v-else>
                        <div class="row d-flex shadow border bg-white">
                            <div class="col-sm-12 p-0">
                                <div class="d-flex justify-content-between align-items-center ps-3 pt-2 pe-4 pb-2 border-bottom">
                                    <div class="fw-bolder">SIMS</div>
                                    <div>
                                        <button v-on:click="createSim" class="btn btn-success btn-sm">Ajouter</button>
                                    </div>
                                </div>
                                <div>
                                    <div class="row fw-bold">
                                        <div class="col-md-1 ps-4 pt-2 pb-2">N°</div>
                                        <div class="col-md-2 ps-4 pt-2 pb-2">Nom</div>
                                        <div class="col-md-2 ps-4 pt-2 pb-2">Slot</div>
                                        <div class="col-md-2 ps-4 pt-2 pb-2">Solde</div>
                                        <div class="col-md-1 ps-4 pt-2 pb-2">Taux</div>
                                        <div class="col-md-1 ps-4 pt-2 pb-2">Etat</div>
                                        <div class="col-md-2 ps-4 pt-2 pb-2">Action</div>
                                    </div>
                                    <div class="border-top" v-for="(resource,index) in resources.sims">
                                        <div class="row">
                                            <div class="col-md-1 ps-4 pt-2 pb-2">{{ index + 1}}</div>
                                            <div class="col-md-2 ps-4 pt-2 pb-2">{{ resource.name }}</div>
                                            <div class="col-md-2 ps-4 pt-2 pb-2">
                                                <template v-if="!resource.slot">
                                                    Aucun
                                                </template>
                                                <template>
                                                    {{ resource.slot }}
                                                </template>
                                            </div>
                                            <div class="col-md-2 ps-4 pt-2 pb-2">{{ resource.balance }} {{ resource.country.currency.name }}</div>
                                            <div class="col-md-1 ps-4 pt-2 pb-2">{{ parseBalanceToPercent(resource) }}</div>
                                            <div class="col-md-1 ps-4 pt-2 pb-2">
                                                <span v-if="resource.active" class="text-success">
                                                    <i class="fa fa-circle"></i>
                                                </span>
                                                <span v-else class="text-danger">
                                                    <i class="fa fa-circle"></i>
                                                </span>
                                            </div>
                                            <div class="col-md-2 ps-4 pt-2 pb-2">
                                               <a data-bs-toggle="collapse" class="btn btn-light border btn-sm" v-bind:href="'#sim-' + resource.id">ouvrir</a>
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <div class="collapse" v-bind:id="'sim-' + resource.id">
                                                <div class="border-top ps-3 pt-2 pe-3 pb-2">
                                                    <h5 class="fw-bolder">SIM #{{ resource.id }}</h5> 
                                                    <div class="container p-0">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-7">  
                                                                <div>
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Nom</label>
                                                                                <input v-model="resource.name" type="text" class="form-control" name="name">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Type</label>
                                                                                <input type="text" class="form-control" value="SIM" name="type" disabled>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Email</label>
                                                                                <input v-model="resource.email" type="email" class="form-control" name="email">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Mot de passe</label>
                                                                                <input type="text" v-model="resource.password" class="form-control" name="password">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Access Token</label>
                                                                                <input v-model="resource.accessToken" type="text" class="form-control" name="accessToken">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Token</label>
                                                                                <input type="text" v-model="resource.token" class="form-control" name="token">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Code secret</label>
                                                                                <input v-model="resource.secretCode" type="text" class="form-control" name="secretCode">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Syntaxe du solde</label>
                                                                                <input type="text" v-model="resource.syntaxBalance" class="form-control" name="syntaxBalance">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Syntaxe de dépot</label>
                                                                                <input type="text" v-model="resource.syntaxDeposit" class="form-control" name="syntaxDeposit">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="mb-3">
                                                                                <label class="col-form-label">Syntaxe de la dernière transactions</label>
                                                                                <input type="text" disabled v-model="resource.syntaxLastTransaction" class="form-control" name="syntaxDeposit">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <label class="col-form-label">Prochain Sms</label>
                                                                            <textarea disabled v-model="resource.nextSms" class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex mt-3 justify-content-between align-items-center">
                                                                        <button v-on:click="updateResource(resource)" type="submit" class="btn btn-success">Mettre à jour</button>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" type="checkbox" id="active" name="active" v-model="resource.active">
                                                                            <label class="form-check-label" for="active">Actif</label>
                                                                        </div>
                                                                    </div>
                                                                </div>    
                                                            </div> 
                                                            <div class="col-sm-12 col-md-5">
                                                                <div class="d-flex border-bottom ps-4 pt-4 pe-4 pb-2 justify-content-between align-items-center">
                                                                    <div class="h3 fw-bolder">Statut</div>
                                                                    <div>   
                                                                        <div v-show="resource.pending">
                                                                            <i class="fa fa-circle text-warning"></i> Ocuupé        
                                                                        </div>

                                                                        <div v-show="!resources.api.active">
                                                                            <i class="fa fa-circle text-success"></i> Libre                     
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="ps-4 pt-3 pe-4 d-flex align-items-center justify-content-between">
                                                                        <div class="h4 fw-bolder">Solde</div>
                                                                        <div>
                                                                            <button v-on:click="updateResourceBalance(resource)" class="btn btn-success btn-light border btn-sm">Recharger</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 ps-4 pe-4">
                                                                        <div>Solde de départ</div>
                                                                        <div class="h3 fw-bolder mt-1">
                                                                            <span class="text-success">{{ resource.startLastBalance }}</span> {{ resource.country.currency.name }}
                                                                        </div>
                                                                        <hr>
                                                                        <div>Solde courant</div>
                                                                        <div class="h3 fw-bolder mt-1">
                                                                            {{ resource.balance }} {{ resource.country.currency.name }}
                                                                        </div>
                                                                        <hr>
                                                                        <div class="h4 fw-bolder mt-1">
                                                                            <div>
                                                                                Taux: {{ parseBalanceToPercent(resource) }}%                  
                                                                            </div>
                                                                            <div class="mt-2">
                                                                                <div class="progress">
                                                                                    <div class="progress-bar progress-bar-animated  bg-success" v-bind:style="{ width: getApiBalancePercent + '%' }"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="mt-3 mb-3 ps-4 pe-4">
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <div class="fw-bolder">
                                                                                Zone dangereuse
                                                                            </div>
                                                                            <div>
                                                                                <button v-on:click="deleteResource(resource,null)" class="btn btn-danger btn-sm">Retirer la SIM</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div v-else-if="tabs.settings.active" class="container ps-5 pt-1 pe-5">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
                    <div class="shadow-sm bg-white p-4 border rounded mt-4">
                        <div class="d-flex justify-content-between">
                            <div class="h2">Paramètres</div>
                            <div>
                                <button v-if="!form.operatorFormOpen" v-on:click="openOperatorForm" class="btn btn-success">Mettre à jour</button>

                                <button v-if="form.operatorFormOpen" v-on:click="closeOperatorForm" class="btn btn-light border">Annuler</button>
                            </div>
                        </div>
                        <form v-on:submit.prevent="updateOperator">
                            <div>
                                <div class="mb-3">
                                    <label class="col-form-label">Nom de l'opérateur:</label>
                                    <input type="text" v-model="form.operator.name" v-bind:disabled="!form.operatorFormOpen || form.disabled" class="form-control" name="name">
                                </div>

                                <div class="mb-3">
                                    <label class="col-form-label">Alias:</label>
                                    <input type="text" v-model="form.operator.alias" v-bind:disabled="!form.operatorFormOpen  || form.disabled" class="form-control" name="alias">
                                    <small class="text-muted">Version courte du nom de l'opérateur</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Pays:</label>
                                <select name="country" v-model="form.operator.country.id" v-bind:disabled="!form.operatorFormOpen  || form.disabled" id="country" class="form-select">
                                    <option v-for="(country,index) in countries" v-bind:value="country.id" v-bind:selected="true">{{ country.name }}</option>
                                </select>
                            </div>
                            <div>
                                <label class="col-form-label">Sélectionnez les moyens de transfert:</label>
                            </div>
                            <div class="mb-3 d-flex">
                                <div class="form-check me-4">
                                    <input v-model="form.operator.useApi" v-bind:disabled="!form.operatorFormOpen  || form.disabled" class="form-check-input" type="checkbox" id="useApi" >
                                    <label class="form-check-label" for="useApi">
                                        API
                                    </label>
                                  </div>
                                <div class="form-check">
                                    <input v-model="form.operator.useSIM" v-bind:disabled="!form.operatorFormOpen  || form.disabled" class="form-check-input" type="checkbox" id="useSIM" >
                                    <label class="form-check-label" for="useSIM">
                                        SIM
                                    </label>
                                </div>
                            </div>
                            <div class="text-end">
                                <button v-if="form.operatorFormOpen" v-bind:disabled="!form.operatorFormOpen" class="btn btn-success">Enregistrer</button>
                            </div>  
                        </form>     
                    </div>
                </div>
            </div>  
            <div class="row justify-content-center mt-3">
                <div class="col-sm-12 col-md-8">
                    <div class="shadow-sm border border-danger rounded bg-white p-4 d-flex justify-content-between align-items-center">
                    <div>
                        <div class="h4">Zone dangereuse</div>
                        <div class="text-muted">Attention cette action est irréversible</div>
                    </div>
                    <div>
                        <button v-on:click="deleteOpetator" v-bind:disabled="form.sending || form.operatorFormOpen" class="btn btn-danger">Supprimer l'opérateur</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div v-else>
            
        </div>

    </div>
</div>  

<%- include('modal_formCreateResource') %>

</main>
</div>
</div>
<%- include('../../layout/scripts2') %>
<script src="/pages/backoffice-v1/operators/operators_show.vue.js"></script>
<script>
    var vm = OperatorsManagePage({
        operatorId: <%= data.operatorId %>,
        urls:{
            countriesUrls:<%- JSON.stringify(data.urls.countriesUrls) %>,
            operatorsUrls:<%- JSON.stringify(data.urls.operatorsUrls) %>,  
            resourcesUrls:<%- JSON.stringify(data.urls.resourcesUrls) %>,
        }
    });
</script>
<script type="text/javascript">
 
</script>
<%- include('../../layout/footer') %>
